RewriteEngine on
RewriteRule ^post/the-time-to-upgrade-your-pc-is-now.aspx$ /the-time-to-upgrade-your-pc-is-now.html [R=301,NC]
RewriteRule ^post/remote-client-validation-in-asp.net-mvc-2.aspx$ /remote-client-validation-in-asp.net-mvc-2.html [R=301,NC]
RewriteRule ^post/mcts-70-515-experience.aspx$ /mcts-70-515-experience.html [R=301,NC]
RewriteRule ^post/updates-to-necronettoolkit.aspx$ /updates-to-necronettoolkit.html [R=301,NC]
RewriteRule ^post/a-take-on-generic-rssresult-for-mvc.aspx$ /a-take-on-generic-rssresult-for-mvc.html [R=301,NC]
RewriteRule ^post/enable-or-disable-ribbon-custom-action-based-on-user-permissions.aspx$ /enable-or-disable-ribbon-custom-action-based-on-user-permissions.html [R=301,NC]
RewriteRule ^post/using-application-page-as-script-service-in-sharepoint-2010.aspx$ /using-application-page-as-script-service-in-sharepoint-2010.html [R=301,NC]
RewriteRule ^post/announcing-codecaml-ndash-write-sharepoint-queries-with-c.aspx$ /announcing-codecaml-ndash-write-sharepoint-queries-with-c.html [R=301,NC]
RewriteRule ^post/get-emails-from-sharepoint-2010-people-editor.aspx$ /get-emails-from-sharepoint-2010-people-editor.html [R=301,NC]
RewriteRule ^post/unit-testing-routes-in-asp.net-mvc.aspx$ /unit-testing-routes-in-asp.net-mvc.html [R=301,NC]
RewriteRule ^post/generic-repository-for-entity-framework.aspx$ /generic-repository-for-entity-framework.html [R=301,NC]
RewriteRule ^post/visual-studio-2010-lanches-today.aspx$ /visual-studio-2010-lanches-today.html [R=301,NC]
RewriteRule ^post/unit-of-work-pattern-in-necronettoolkit.aspx$ /unit-of-work-pattern-in-necronettoolkit.html [R=301,NC]
RewriteRule ^post/animated-transitions-between-pages-in-wpf-silverlight-without-any-code.aspx$ /animated-transitions-between-pages-in-wpf-silverlight-without-any-code.html [R=301,NC]
RewriteRule ^post/i-heart-windows-phone-wallpaper.aspx$ /i-heart-windows-phone-wallpaper.html [R=301,NC]
RewriteRule ^post/necronetoolkit-mail-api.aspx$ /necronetoolkit-mail-api.html [R=301,NC]
RewriteRule ^post/unit-testing-code-that-uses-httpcontext-current-session.aspx$ /unit-testing-code-that-uses-httpcontext-current-session.html [R=301,NC]
RewriteRule ^post/generate-repositories-for-entity-framework-data-model-with-ctrl-s.aspx$ /generate-repositories-for-entity-framework-data-model-with-ctrl-s.html [R=301,NC]
RewriteRule ^post/necronettookit-v1-0-0-prerelease.aspx$ /necronettookit-v1-0-0-prerelease.html [R=301,NC]
RewriteRule ^post/generate-c-pocos-from-sql-statement-in-linqpad.aspx$ /generate-c-pocos-from-sql-statement-in-linqpad.html [R=301,NC]
